.row{
    display:flex;
    /* justify-content: space-evenly; */

    /* vertical-align: super; */
    
}
.col{
    flex: 1;
    background-color: #649EA0;
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}
.col-2{
    flex:2;
background-color: #649EA0;
border: 1px solid black;
height: 100px;
margin: 10px;

}
.col-3{
    background-color: #649EA0;
border: 1px solid black;
height: 100px;

}
*{
    margin: 0px;
    padding: 0px;
}
