.label{
  display: flex;
  color: aliceblue;
  align-items: center;
  font-size: 35px;
  gap: 10px;
  background-color: gray;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  

}
input{
  height: 35px;
  width: 250px;
  border-radius: 10px;
  border-style: none;
  padding: 5px;
}
.container{
  display: flex;
  flex-direction: column;
  gap:20px

}